body{
  background-image: url("mapOfFood.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

header {
    color: white;
    position: fixed;
    top: 0;
    left: 10;
    width: 100%;
    z-index: 10000;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    line-height:2.7;
}

w3-bar w3-white w3-card {
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

h1 {
  color: white;
  font-family:"TeX Gyre Adventor";
  font-size: 130px
}
