body{
  background-image: url("mapOfFood.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

header {
    color: white;
    position: fixed;
    top: 0;
    left: 10;
    width: 100%;
    z-index: 10000;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

h1 {
  color: white;
  font-family:"TeX Gyre Adventor";
  font-size: 100px
}
